
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Blog Başlıklarını Dinamik olarak Excel'e Çekme</h2>
<br />
<a class="btn btn-primary" href="/Admin/Blog/ExportDynamicExcelBlogList/">Excel Listesini İndir</a>

