
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Test

    Demo -> C:\Users\sulec\OneDrive\Masaüstü\CoreDemo\CoreDemo\bin\Debug\net5.0\CoreDemo.dll
    1>CoreDemo -> C:\Users\sulec\OneDrive\Masaüstü\CoreDemo\CoreDemo\bin\Debug\net5.0\CoreDemo.Views.dll
    1>Done building project "CoreDemo.csproj".
    ========== Build: 1 succeeded, 0 failed, 3 up-to-date, 0 skipped ==========
    ========== Elapsed 00:15,576 ==========

</h1>

