@model CoreDemo.Controllers.Class1

@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Api ile Personel Güncelleme Sayfası</h1>
<form method="post">
    @*<label>ID</label>
    @Html.TextBoxFor(x=>x.ID,new {@class="form-control"})
    <br />*@
    <br />
    <input type="hidden" asp-for="@Model.ID"/>
    <label>Çalışan Adı Soyadı</label>
    <input type="text" asp-for="@Model.Name" class="form-control" />
    <br />
    <button type="submit" class="btn btn-info">Çalışanı Güncelle</button>
</form>

